@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css?family=Roboto:400');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
*{  
    padding: 0;
    margin: 0;
}


/*---------------------------------------------------------------------------*/
/*Barra principal*/
/*---------------------------------------------------------------------------*/
@media only screen and (min-width: 1080px) {
    
    #BarraPrincipalPequeña{
        display: none;
    }

    #BarraPrincipalGrande{
        position: fixed;
        background-color:#272727;
        width: 100%;
    }
    #BarraPrincipalGrande li{
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left:1.1%;
        padding-right:1.1%;
        color: white;
        font-family: Roboto;
        font-size: 20px;
        display: inline-block;
        margin-left: 13.7%;
        text-align: center;
    }
    #BarraPrincipalGrande li:hover{
        background-color: #470082;
    }
    #BarraPrincipalGrande a{
        color: white;
        text-decoration: none;
        display: block;
    } 
    #BarraPrincipalGrande a:visited{
        color: white;
        text-decoration: none;
    }
}
@media only screen and (max-width: 1080px) {
    #BarraPrincipalGrande{
        display: none;
    }
    #BarraPrincipalPequeña{
        position: fixed;
    }
    #BotonMenu{
        width: 30px;
        height: 30px;
        padding: 20px;
        margin-left: 20px;
        position: fixed;
        float: left;
        background: #272727;
    }
    #BotonMenu:hover{
        background:#470082;
    }
    #BotonMenuTexto{
        font-size: 0px;
        padding: 35px;
        padding-right: 1080px;
        background-color:#272727;
    }
    #BotonMenuCerrar{
        width: 30px;
        height: 30px;
        float: left;
        margin-left: -40px;
        padding: 20px;
        margin-top: -25px;
        background:#272727;
    }
    #BotonMenuCerrar:hover{
        background:#470082;
    }
    #Menu{
        font-family: Roboto;
        font-size: 30px;
        background-color:#272727;
        float: left;
        color: white;
        list-style: none;
        display: none;
    }
    #Menu li,a{
        padding-left: 60px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 40px;
        display:block;
        text-align: center;
    }
    
    #Menu a{
        color: white;
        text-decoration: none;   
    }
    #Menu a:hover{
        color: white;
        text-decoration: none;
        background-color: #470082;   
    }
    
    
}

/*---------------------------------------------------------------------------*/
 /*PortadaPrincipal - Primer SECTION*/
/*---------------------------------------------------------------------------*/

@media only screen and (min-width: 1640px) {
    #PortadaPrincipal{
        margin-left: 9.75%;
    }
    
    #NYC_Principal{
        width: 25%;
        height: 25%;
        float: right;
        margin-top: 9.3%;
        margin-right: 14%;
        margin-left: 4%;
        border-radius: 30px;
    }
    #NYC_Pequeña{
        display: none;
    }
    #PortadaPrincipal h1{
        width: 60%;
        color:#272727;
        font-size: 85px;
        font-family: Roboto;
        padding-top: 16%;
    }
    #Nombre{
        color:#470082;
        font-size: 90px;
        font-family: Roboto;
        margin-top: 200px;
    }

    #PortadaPrincipal p{
        margin-top: 0.8%;
        color:#272727;
        font-size: 34px;
        font-family: Roboto;
        margin-bottom: 14%;
    }
}

@media only screen and (max-width: 1640px) and (min-width: 1280px){

    #PortadaPrincipal{
        margin-left: 9.75%;
    }
    #NYC_Principal{
        width: 27%;
        height: 27%;
        float: right;
        margin-top: 10%;
        margin-right: 14%;
        margin-left: 4%;
        border-radius: 30px;
    }
    #NYC_Pequeña{
        display: none;
    }
    #PortadaPrincipal h1{
        width: 60%;
        color:#272727;
        /*font-size: 4.7vw;*/
        font-size: 70px;
        font-family: Roboto;
        padding-top: 19%;
    }
    #Nombre{
        color:#470082;
        /*font-size: 4.9vw;*/
        font-size: 65px;
        font-family: Roboto;
        margin-top: 200px;
    }
    
    #PortadaPrincipal p{
        margin-top: 0.8%;
        color:#272727;
        /*font-size: 1.87vw;*/
        font-size: 28px;
        font-family: Roboto;
        margin-bottom: 15%;
    }
}

@media only screen and (max-width: 1280px) and (min-width: 1080px){

    #PortadaPrincipal{
        margin-left: 8%;
    }
    #NYC_Principal{
        /*width: 32%;
        height: 32%;*/
        width: 27%;
        height: 27%;
        float: right;
        margin-top: 10%;
        margin-right: 8.5%;
        margin-left: 4%;
        border-radius: 30px;
    }
    #NYC_Pequeña{
        display: none;
    }
    #PortadaPrincipal h1{
        width: 60%;
        color:#272727;
        /*font-size: 4.7vw;*/
        font-size: 55px;
        font-family: Roboto;
        padding-top: 19%;
    }
    #Nombre{
        color:#470082;
        /*font-size: 4.9vw;*/
        font-size: 55px;
        font-family: Roboto;
        margin-top: 200px;
    }
    
    #PortadaPrincipal p{
        margin-top: 0.8%;
        color:#272727;
        /*font-size: 1.87vw;*/
        font-size: 22px;
        font-family: Roboto;
        margin-bottom: 15%;
    }
}

@media only screen and (max-width: 1080px){

    #PortadaPrincipal{
        margin-left: 12%;
        margin-right: 12%;
    }
    #NYC_Principal{
        display: none;
    }
    #NYC_Pequeña{
       /* width: 55%;
        height: 55%;*/
        width: 45%;
        height: 45%;
        margin:auto;
        display: block;
        margin-bottom: 8%;
        border-radius: 15px;
    }
    #PortadaPrincipal h1{
        color:#272727;
        /*font-size: 4.7vw;*/
        font-size: 50px;
        font-family: Roboto;
        padding-top: 19%;
        text-align: center;
    }
    #Nombre{
        color:#470082;
        /*font-size: 4.9vw;*/
        font-size: 45px;
        font-family: Roboto;
        margin-top: 200px;
        text-align: center;
    }
    
    #PortadaPrincipal p{
        margin-top: 0.8%;
        color:#272727;
        /*font-size: 1.87vw;*/
        font-size: 20px;
        font-family: Roboto;
        margin-bottom: 8%;
        text-align: center;
    }
}


/*---------------------------------------------------------------------------*/
/*Sobremi - Segundo SECTION*/
/*---------------------------------------------------------------------------*/
@media only screen and (min-width: 1280px){
    #Sobremi h1{
        font-size: 70px;
        color: #470082;
        font-family: Roboto;
        text-align: center;
        margin-top: 4%;
        margin-bottom: 1.3%;
    }
    #Sobremi p{
        font-size: 27px;
        color: #272727;
        text-align:justify;
        margin-left: 9%;
        margin-right: -12%;
        font-family: Roboto;
    }
    #TablaSobremi{ 
        width: 60%;
        margin:auto;
        margin-bottom: 5%;
    }
    #ImagenSobremiArriba{
        width: 327.6px;
        height: 409.6px;    
        border-radius: 30px;  
    }
    #ImagenSobremiAbajo{
        display:none;
        opacity: 0;
    }
    
}

@media only screen and (max-width: 1280px) and (min-width: 1080px){
    #Sobremi h1{
        font-size: 57px;
        color: #470082;
        font-family: Roboto;
        text-align: center;
        margin-top: 8%;
        margin-bottom: 2%;
    }
    #Sobremi p{
        font-size: 22.5px;
        color: #272727;
        text-align:justify;
        margin-left: 9%;
        margin-right: -6%;
        font-family: Roboto;
    }
    #TablaSobremi{ 
        width: 75%;
        margin:auto;
        margin-bottom: 5%;
    }
    #ImagenSobremiArriba{
        width: 327.6px;
        height: 409.6px;    
        border-radius: 30px;  
    }
    #ImagenSobremiAbajo{
        display:none;
        opacity: 0;
    }
    
}

@media only screen and (max-width: 1080px){
    #Sobremi h1{
        font-size: 50px;
        color: #470082;
        font-family: Roboto;
        text-align: center;
        margin-top: 3%;
    }
    #Sobremi p{
        font-size: 20px;
        color: #272727;
        text-align: justify;
        margin-top: 2%;
        margin-bottom: 3%;
        font-family: Roboto;
    }
    #TablaSobremi{ 
        width: 70%;
        margin:auto;
    }
    #ImagenSobremiArriba{
        display:none;
        opacity: 0;
    }
    #ImagenSobremiAbajo{
        display: none;
        opacity: 0;
    }
}

#SobremiAncla{
    opacity: 0;
}

/*---------------------------------------------------------------------------*/
/*Proyectos - Tercer SECTION*/
/*---------------------------------------------------------------------------*/

@media only screen and (min-width: 1280px){
    .Imagenes950px{
        display: none;
        opacity: 0;
    }
    .ImagenesGrandesProyectos{
        display: block;
        opacity: 1;
    }

    #ProyectoTitulo{
        font-size: 70px;
        color: #470082;
        font-family: Roboto;
        text-align: center;
        margin-top: 3%;
        margin-bottom: 2%;
    }
    #TablaProyectos{
        width: 65%;
        margin: auto;
    }
    #TablaProyectos h2{
        font-size: 35px;
        color: #470082;
        font-family: Roboto; 
        margin-left: 12%;
        margin-bottom: 1%;
    }
    #TablaProyectos p{
        font-size: 27px;
        color: #272727;
        text-align:justify;
        margin-left: 12%;
        font-family: Roboto;
    }
    #TablaProyectos img{
        width: 300px;
        height: 300px;
        margin-left: 10%;
    }

}
@media only screen and (max-width: 1280px) and (min-width: 1080px){
    .Imagenes950px{
        display: none;
        opacity: 0;
    }
    .ImagenesGrandesProyectos{
        display: block;
        opacity: 1;
    }
    #ProyectoTitulo{
        font-size: 70px;
        color: #470082;
        font-family: Roboto;
        text-align: center;
        margin-top: 3%;
        margin-bottom: 2%;
    }
    #TablaProyectos{
        width: 75%;
        margin: auto;
    }
    #TablaProyectos h2{
        font-size: 32px;
        color: #470082;
        font-family: Roboto; 
        margin-left: 12%;
        margin-bottom: 1.5%;
    }
    #TablaProyectos p{
        font-size: 22.5px;
        color: #272727;
        text-align:justify;
        margin-left: 12%;
        font-family: Roboto;
    }
    #TablaProyectos img{
        width: 300px;
        height: 300px;
        margin-left: 10%;
        margin-left: 2%;
    }
}
@media only screen and (max-width: 1080px){
    .Imagenes950px{
        display: inline;
        opacity: 1;
    }
    .ImagenesGrandesProyectos{
        display: none;
        opacity: 0;
    }
    #ImagenHTMLyCSS2{
        width: 200px;
        height: 200px;
        margin-top: 5%;
        margin:auto;
       	display: block;
    } 
    #ProyectoTitulo{
        font-size: 50px;
        color: #470082;
        font-family: Roboto;
        text-align: center;
        margin-top: 10%;
        margin-bottom: 2%;
    }
    #TablaProyectos{
        width: 80%;
        margin: auto;
    }
    #TablaProyectos h2{
        font-size: 27px;
        color: #470082;
        font-family: Roboto; 
        margin-bottom: 2%;
        text-align:center;
    }
    #TablaProyectos p{
        font-size: 20px;
        color: #272727;
        text-align:justify;
        font-family: Roboto;
    }
     
}
#ProyectosAncla{
    opacity: 0;
}

/*---------------------------------------------------------------------------*/
/*Contacto - Ultimo SECTION*/
/*---------------------------------------------------------------------------*/
#TablaContacto a:visited{
    text-decoration: none;
    color: #272727;
}
#TablaContacto a{
    text-decoration: none;
    color: #272727;
    margin: 0%;
    padding: 0%;
}
@media only screen and (min-width: 1080px){
    #ContactoTitulo{
        font-size: 70px;
        color: #470082;
        font-family: Roboto;
        text-align: center;
        margin-top: 6%;
        margin-bottom: 2%;
    }
    #TablaContacto{
        margin:auto;
        margin-bottom: 8%;
    }
    #TablaContacto p{
        font-family: Roboto;
        font-size: 30px;
        margin-left: 10%;
        margin-right: -20%;

    }
    #TablaContacto img{
        height: 70px;
        width: 70px;
        margin-left: -20%;
    }
}
@media only screen and (max-width: 1080px){
    #ContactoTitulo{
        font-size: 50px;
        color: #470082;
        font-family: Roboto;
        text-align: center;
        margin-top: 12%;
        margin-bottom: 2%;
    }
    #TablaContacto{
        margin:auto;
        margin-bottom: 8%;
    }
    #TablaContacto p{
        font-family: Roboto;
        font-size: 20px;
        margin-left: 10%;
        margin-right: -20%;

    }
    #TablaContacto img{
        height: 50px;
        width: 50px;

    }

}